init-author-name=muukii
init-author-email=muukii.muukii@gmail.com
init-author-url=http://www.muukii.me/
init-license=MIT
init-version=0.0.0
//registry.npmjs.org/:_authToken=57d4a27a-e047-4f89-95f1-5d0d66ec81de
