init-author-name=muukii
init-author-email=muukii.muukii@gmail.com
init-author-url=http://www.muukii.me/
init-license=MIT
init-version=0.0.0
//registry.npmjs.org/:_authToken=b56a3199-e8e0-41dc-851a-10606468419b
