init-author-name=muukii
init-author-email=muukii.muukii@gmail.com
init-author-url=http://www.muukii.me/
init-license=MIT
init-version=0.0.0
//registry.npmjs.org/:_authToken=9342c62c-1f66-45a5-900f-7aa995613555
